.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid  rgb(239, 125, 60);
    border-radius: 5px;
    background-color: rgb(239, 125, 60);
}
.logo{
    width: 150px;
}
.nav-items {
    padding: 0px 20px;
    font-size: 24px;
}
.nav-items ul{
    display: flex; 
    flex-direction: row;  
}
.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
    list-style: none;
}
.search{
    padding: 10px;
}
.filter{
    display: flex;
}
.filter-btn{
    margin:10px ;
    cursor: pointer;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    
}
.logo-container{
    background-color: orange;
    display: inline-block;
}
.res-card{
    margin: 10px;
    padding: 5px;
    width: 300px;
    /* height: 360px; */
    border-radius: 10px;
    transition: border 0.8s;
    box-shadow: 5px 5px 5px #bebaba ;
    background-color: white;
}
.res-card:hover{
    border: 1px solid #f0f0f0;
    cursor: pointer;
}
.res-logo{
    width: 100%;
}
.footer{
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}
.social-links {
    display: flex; 
    flex-direction: row; 
}
.social-links ul{
    display: flex; 
    flex-direction: row; 
}
.social-links > ul > li{
    padding: 10px;
    margin: 10px;
    list-style: none;
}
.copyright {
    position: absolute;
    left: 20%;
    top:15px;
    bottom: 5px;
}
.icons{

}
.shimmer-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
    margin: 20px;
}
.login-btn{
    padding: 0 25px;
    cursor: pointer;
}